<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/MainCSS/Main.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:lightgray">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-top:10px">
                <a class="logo" href="#">
                    <img src="~/Content/LogoIMG/NetflixLogo.png" alt="Netflix">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Quản Lý Phim", "QuanLyPhim", "Admin")</li>
                <li>@Html.ActionLink("Quản Lý User", "QuanLyUser", "Admin")</li>
            </ul>
        </div>
    </div>
    @RenderBody()
    <footer>
        <div class="footer-container">
            <div class="footer-links">
                <ul>
                    <li><a href="#">Về Netflix</a></li>
                    <li><a href="#">Việc làm</a></li>
                    <li><a href="#">Thông tin liên hệ</a></li>
                    <li><a href="#">Quản lý tài khoản</a></li>
                    <li><a href="#">Chế độ sử dụng</a></li>
                    <li><a href="#">Bảo mật</a></li>
                    <li><a href="#">Trung tâm trợ giúp</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f">Facebook</i></a></li>
                    <li><a href="#"><i class="fab fa-instagram">Instagram</i></a></li>
                    <li><a href="#"><i class="fab fa-twitter">Twitter</i></a></li>
                </ul>
            </div>
        </div> <br />
        <p style="text-align:center">&copy; 2020 Netflix. Bản quyền thuộc về <span lang="en">Netflix Inc.</span></p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
